@use '@angular/material' as mat-ui;

$font-family: var(--font-primary-family);
$font-weight: var(--font-primary-weight);

$default-typography-level: mat-ui.define-typography-level(
  $font-family: var(--font-family),
  $font-weight: 400,
  $font-size: 1rem,
  $line-height: 1,
  $letter-spacing: normal,
);

$default-typography-config: mat-ui.define-typography-config(
  $font-family: Montserrat,
  $font-weight: 400,
  $font-size: 1rem,
  $line-height: 1,
  $letter-spacing: normal,
  $display-4:
    mat-ui.define-typography-level(112px, 112px, 300, $letter-spacing: -0.05em),
  $display-3:
    mat-ui.define-typography-level(56px, 56px, 400, $letter-spacing: -0.02em),
  $display-2:
    mat-ui.define-typography-level(45px, 48px, 400, $letter-spacing: -0.005em),
  $display-1: mat-ui.define-typography-level(34px, 40px, 400),
  $headline: mat-ui.define-typography-level(20px, 27px, 500),
  $title: mat-ui.define-typography-level(20px, 27px, 400),
  $subheading-1: mat-ui.define-typography-level(15px, 17px, 400),
  $subheading-2: mat-ui.define-typography-level(16px, 21px, 500),
  $body-1: mat-ui.define-typography-level(16px, 21px, 400),
  $body-2: mat-ui.define-typography-level(16px, 25px, 500),
  $caption: mat-ui.define-typography-level(14px, 21px, 400),
  $button: mat-ui.define-typography-level(16px, 21px, 400),
  $input: mat-ui.define-typography-level(inherit, 1.125, 400),
);

// @include mat-ui.all-component-typographies($typography-config);
