@use 'sass:map';
@use '@angular/material' as material-ui;

@mixin color($theme) {
  $color-config: material-ui.get-color-config($theme);

  $primary-palette: map.get($color-config, primary);
  $accent-palette: map.get($color-config, accent);
  $warn-palette: map.get($color-config, warn);

  $background-palette: map.get($color-config, background);
  $foreground-palette: map.get($color-config, foreground);

  // Whether it was provided dark theme.
  $is-dark-theme: map.get($color-config, is-dark);

  *::selection {
    color: material-ui.get-color-from-palette($primary-palette, 500) !important;
    background: material-ui.get-color-from-palette(
      $primary-palette,
      500
    ) !important;
  }

  body,
  html {
    color: material-ui.get-color-from-palette($primary-palette, 500) !important;
    caret-color: material-ui.get-color-from-palette(
      $primary-palette,
      500
    ) !important;
  }

  mat-app-background {
  }
}

@mixin typography($theme) {
  $typography-config: material-ui.get-typography-config($theme);

  $font-family: material-ui.font-family($typography-config);
  $font-weight: material-ui.font-weight($typography-config);
  $font-size: material-ui.font-size($typography-config);
  $line-height: material-ui.line-height($typography-config);
  $letter-spacing: material-ui.letter-spacing($typography-config);

  body,
  html {
    font-size: $font-size !important;
    font-family: $font-family !important;
    font-weight: $font-weight !important;
    line-height: $line-height !important;
    letter-spacing: $letter-spacing !important;
  }
}

@mixin _density($theme: null) {
  // Density for theme state.
}

@mixin theme($theme: null) {
  $color-config: material-ui.get-color-config($theme);

  // Provide color config according to the material-ui theme.
  @if $color-config != null {
    @include color($theme);
  } @else {
    @warn "Unknown color config #{$theme}.";
  }

  $density-config: material-ui.get-density-config($theme);

  // Provide density config according to the material-ui theme.
  @if $typography-config == null {
    @include _density($theme);
  } @else {
    @warn "Unknown density config #{$theme}.";
  }

  $typography-config: material-ui.get-typography-config($theme);

  // Provide typography config according to the material-ui theme.
  @if $typography-config == null {
    @include typography($theme);
  } @else {
    @warn "Unknown typography config #{$theme}.";
  }
}
