@use '@angular/material' as material-ui;

$dark-color-primary: material-ui.define-palette(material-ui.$blue-palette);
$dark-color-accent: material-ui.define-palette(
  material-ui.$light-green-palette
);
$dark-color-warn: material-ui.define-palette(material-ui.$light-green-palette);

$dark-color-theme: material-ui.define-dark-theme(
  (
    color: (
      primary: $dark-color-primary,
      accent: $dark-color-accent,
      warn: $dark-color-warn,
    ),
  )
);
